{% import 'tags.macro.twig' as output %}
<div class="span5">
    <h2>{{ item.name }} {{ item.type }}</h2>
    <h5>Tags: {{ output.get(item.tags) }}</h5>
    <img class="img-polaroid" src="{{ item.image }}" alt="{{ item.name }}" title="{{ item.name }}"/>
    <p>
        {{ item.description[:100] }}...
    </p>
    <p>Sales started at {{ item.dateProduction | date('Y') }}</p>
    <a class="btn btn-large btn-primary" href="/products/show/id/{{ item.id }}">View details</a>
    <div class="container" style="margin-top: 10px"></div>
    <div class="container">
            <span class="alert-success" style="font-size: x-large">{{ item.price|number_format(
                    decimal=0,
                    decimal_point='.',
                    thousand_sep=' '
                ) }} UEC</span>
            <span class="alert-info">{{ item.price|currencyExchange(rate.crey)|number_format(
                    decimal=2,
                    decimal_point='.',
                    thousand_sep=' '
                ) }} CREY</span>
            <span class="alert-info">{{ item.price|currencyExchange(rate.taernin)|number_format(
                decimal=2,
                decimal_point='.',
                thousand_sep=' '
                ) }} Taernin</span>
    </div>
    <div class="container" style="margin-top: 30px"></div>
</div>

